<button
	class="btn btn-default"
	data-ng-click="add();"
	data-toggle="modal"
	data-target="#product-popup"
>
	<span class="glyphicon glyphicon-plus-sign"></span>
	Post Product
</button>
<br/><br/>
<table class="table table-bordered table-striped">
	<thead>
		<th>
			Title
		</th>
		<th>
			Image
		</th>
		<th>
			Price
		</th>
		<th width="150px">
			Action
		</th>
	</thead>
	<tr data-ng-repeat="product in products_post.elements">
		<td>
			<span data-ng-bind="product.fields[0].products_name"></span>
		</td>
		<td>
			<img
				src="images/{{product.products_image_thumbnail}}"
				alt="{{product.fields[0].products_name}}"
				title="{{product.fields[0].products_name}}"
				class="img"
			>
		</td>
		<td>
			<span data-ng-bind="product.products_price | currency"></span>
		</td>
		<td>
			<button class="btn btn-default" data-ng-click="edit(product);">Edit</button>
			<button class="btn btn-danger" data-ng-click="remove(product.id, $index);">Delete</button>
		</td>
	</tr>
</table>
<div
	data-ng-if="products_post.elements == 0"
>
	<div class="alert alert-warning alert-dismissible">
		<strong>Warning!</strong> No product post.
	</div>
</div>
<div
	data-ng-if="!products_post"
	class="align_center"
>
<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
</div>
<product:post:popup></product:post:popup>

