<div 
	data-ng-if="!products_post"
	class="align_center"
>
	<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
</div>
<button
	class="btn btn-default"
	data-ng-click="add();"
	data-toggle="modal"
	data-target="#product-popup"
>
	<span class="glyphicon glyphicon-plus-sign"></span>
	Post Product
</button>

<div
	data-ng-if="products_post.elements == 0"
>
	<div class="alert alert-warning alert-dismissible">
		<strong>Warning!</strong> No product post.
	</div>
</div>
<div class="clear_fix"></div>
<div
	data-ng-repeat="product in products_post.elements"
	class="main"
>
	<img
		src="images/{{product.products_image}}"
		alt="{{product.post_title}}"
		title="{{product.post_title}}"
		class="img"
	>
	<div
		data-ng-bind="product.fields[0].products_name"
		class="p-title"
	>
	</div>
	<div class="align_center">
		<button
			class="btn btn-default"
			data-ng-click="edit(product);"
		>
			Edit
		</button>
		<button
			class="btn btn-danger"
			data-ng-click="remove(product.id);"
		>
			Delete
		</button>
	</div>
</div>
<product:post:popup></product:post:popup>

